
h3 {
    text-align: center;
    font-size: 2em;
    margin: 0.5em 0;
    font-weight: 900;
}

@media (max-width: 767px) {
    h3 {
        font-size: 1.6em;
    }
}
.Main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.Main .titleName {
    color: black;
    text-decoration: solid;
    text-align: center;
    margin: 2rem;
}
.Main .PageName{
    color: black;
    text-decoration: solid;
    text-align: center;
    margin: 2rem;
}
.Main .paginacion h3{
    color: black;
    
}
.Main .paginacion button {
    background-color: transparent;
    border-style: none; 
    cursor: pointer;   
}
.Main .paginacion{
    width: 80%;
    margin: 10px 0 2rem 0;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);    
}
.Main .personajes {
    width: 90vw;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Main .personajes .infoCard{
    display: table-row;
    width: 390px;
    align-items: center;
    margin: 20px;
}
.Main .personajes .infoCard img{
    width: 60%; 
}
.Main .personajes .informacion{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 10px; 
}
